*{
    margin:0;
    padding: 0;
}
table{
    width: 900px;
}
#addRow{
    margin-top: 30px;
}
ul.intabs li{
    cursor: pointer;
    color: #02679C;
    text-decoration: none;
}
ul.intabs li:hover{
    text-decoration: underline;
}