<div class="listdark">
    <center>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=1772973389433451565">André Steinn</a> - Projeto para o google chrome</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=11584069900845257050">Bruno Leonardo Michels</a> - Criador do projeto</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=12480103129257090972">Nathan Monte</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=14305146016298471046">Dimar</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=10495920581966870686">Igor Lima</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=6649446791026201859">Bebe</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=8419824816462270596">Leo</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=2351103256296943827">Ciello</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=13665691437460946484">Anderson</a> - contribuidor</div>
        <div><a target="_blank" href="http://www.orkut.com.br/Main#Profile?uid=3831119049170346681">OMBot</a> - Bot trabalhador</div>
        <br />
        <br />
        <div><a href="http://www.orkut.com.br/Main#Community?cmm=90840394"> Comunidade Orkut Manager Oficial</a></div>
        <div><a href="http://www.orkut.com.br/Main#Community?cmm=9531162"> DC - Informática e Internet</a></div>

        <div><a href="http://www.orkut.com.br/Main#Community?cmm=142602"> Comunidade GTA Brasil - Grand Theft Auto </a></div>
    </center>
</div>
