<div class="listdark">
    <div class="listfllrgblack">
        <b>Favoritos</b>
        <br>
        <span class="nor">Favorite comunidades e tópicos</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableBookmarks">
        <label for="omEnableBookmarks">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Last Links</b>
        <br>
        <span class="nor">Links para ultima página do tópico</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableLast">
        <label for="omEnableLast">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Forum Links</b>
        <br>
        <span class="nor">Links para o forum da comunidade</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableForum">
        <label for="omEnableForum">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Menu Header</b>
        <br>
        <span class="nor">Altere o menu original do Orkut</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableMenuHeader">
        <label for="omEnableMenuHeader">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Menu DropDown</b>
        <br>
        <span class="nor">Adicione um menu no logo do Orkut (:</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableMenuDD">
        <label for="omEnableMenuDD">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Toolbar Scrapbook</b>
        <br>
        <span class="nor">Barra de Ferramentas nos recados</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omToolbarScrapBook">
        <label for="omToolbarScrapBook">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Toolbar Edit</b>
        <br>
        <span class="nor">Barra de Ferramentas na página de edição do perfil</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omToolbarEdit">
        <label for="omToolbarEdit">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Toolbar Quick Reply</b>
        <br>
        <span class="nor">Barra de Ferramentas no Quick Reply</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omToolbarqReply">
        <label for="omToolbarqReply">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">

    <div class="listfllrgblack">
        <b>Toolbar Post</b>
        <br>
        <span class="nor">Barra de Ferramentas na página de post</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omToolbarPost">
        <label for="omToolbarPost">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Esconder E-mail</b>
        <br>
        <span class="nor">Esconde seu e-mail do menu do Orkut</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEmailHide">
        <label for="omEmailHide">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Moderação</b>
        <br>
        <span class="nor">Facilite a moderação de comunidades</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableMod">
        <label for="omEnableMod">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Chat nos tópicos</b>
        <br>
        <span class="nor">Para quem gosta de bater papo usando tópicos (:</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omEnableChat">
        <label for="omEnableChat">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Exibir ads</b>
        <br>
        <span class="nor">Exibir anuncios do Orkut</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omShowAds">
        <label for="omShowAds">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Exibir Promova</b>
        <br>
        <span class="nor">Exibir Promova do Orkut</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omShowPromote">
        <label for="omShowPromote">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>


<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Preview ao clicar</b>
        <br>
        <span class="nor">Habilitar preview ao clicar (por padrão é ao passar o mouse)</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omPreviewClick">
        <label for="omPreviewClick">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<!-- -->
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Tweet Button</b>
        <br>
        <span class="nor">Tweet Button nos tópicos</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omtweetButton">
        <label for="omtweetButton">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Mass delete</b>
        <br>
        <span class="nor">Mass Delete posts moderação</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omMassDelete">
        <label for="omMassDelete">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>FixPost</b>
        <br>
        <span class="nor">FixPost nos tópicos</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omFixPost">
        <label for="omFixPost">Habilitar</label>
    </div>
</div>
<div class="listdivi"></div>


<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Atalho para o Post</b>
        <br>
        <span class="nor">Atalho ao enviar um post</span>
    </div>
    <div class="listplrg">
        <input type="radio" value="1" name="ShortcutPost">
        <label for="ShortcutPost">Shift + Enter</label>
        <br />
        <input type="radio" value="2" name="ShortcutPost">
        <label for="ShortcutPost">Alt + Enter</label>
    </div>
</div>
<div class="listdivi"></div>