<div class="listdark">
    <div class="listfllrgblack">
        <b>Orkut antigo:</b>
        <br>
        <span class="nor">Como você que o orkut antigo:</span>
    </div>
    <div class="listplrg">
        <input type="radio" value="MainKill" checked="checked" name="oldOrkut" />
        <label for="oldOrkut">MainKill</label>
        <br>
        <input type="radio" value="ForceOld" name="oldOrkut" />
        <label for="oldOrkut">ForceOldOrkut</label>
        <br>
        <input type="radio" value="disabled" name="oldOrkut" />
        <label for="oldOrkut">Desabilitado</label>        
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Idioma:</b>
        <br>
        <span class="nor">Idioma do Orkut Manager</span>
    </div>
    <div class="listplrg">
        <input type="radio" id="LangEn" value="en-US" checked="checked" name="Language" />
        <label for="language">English</label>
        <br>
        <input type="radio" id="LangPt" value="pt-BR" name="Language">
        <label for="language">Portugues</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Emoticons:</b>
        <br>
        <span class="nor">Emoticons novos ou antigos?</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omOLDemoticons">
        <label for="omOLDemoticons">Exibir emoticons antigos</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Orkut Size:</b>
        <br>
        <span class="nor">Tamanho da janela do Orkut (0 = desativado)</span>
    </div>
    <div class="listplrg">
        <input type="text" name="OrkutSize">
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Mass Unjoin:</b>
        <br>
        <span class="nor">Saia de todas as suas comunidades</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="MassUnjoin.Show">
        <label for="MassUnjoin.Show">Habilitado</label>
    </div>
</div>
<div class="listdivi"></div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Auto-Update comunidades:</b>
        <br>
        <span class="nor">Atualize os tópicos automaticamente</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="Update.Communities">
        <label for="Update.Communities">Habilitar nas comunidades</label>
        <br />
        <input type="checkbox" name="Update.Topics">
        <label for="Update.Topics">Habilitar nos tópicos</label>
    </div>
</div>
<div class="listdivi"></div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Intervalo:</b>
        <br>
        <span class="nor">Intervalo do AutoUpdate:</span>
    </div>
    <div class="listplrg">
        <input type="text" name="Update.Delay">
    </div>
</div>
<div class="listdivi"></div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Formato De hora/Data:</b>
        <br>
        <span class="nor">Formato da hora na toolbar</span>
    </div>
    <div class="listplrg">
        <input type="text" name="TimeFormat">
    </div>
</div>
<div class="listdivi"></div>
