<div class="listdark">
    <div class="listfllrgblack">
        <b>Abrir gerenciar membros</b>
        <br>
        <span class="nor">Abrir gerenciar membros quando botão mod é pressionado</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="ModerationOnModUserManage">
        <label for="ModerationOnModUserManage">Habilitar</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Deletar ao clicar em mod</b>
        <br>
        <span class="nor">Deleta o tópico/enquete quando clica em mod</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="ModerationOnModDelete">
        <label for="ModerationOnModDelete">Habilitar</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Moderação ao deletar posts</b>
        <br>
        <span class="nor">abrir moderação ao apagar posts</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="ModerationOnDeleteModPost">
        <label for="ModerationOnDeleteModPost">Habilitar</label>
    </div>
</div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Confirmar ao deletar posts</b>
        <br>
        <span class="nor">Pedir confirmação ao deletar posts</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="ModerationOnModDeleteConfirm">
        <label for="ModerationOnModDeleteConfirm">Habilitar</label>
    </div>
</div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Html: </b>
        <br>
        <span class="nor">Formato moderação de tópicos com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HModerationT"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Sem Html: </b>
        <br>
        <span class="nor">Formato moderação de tópicos sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="ModerationT"></textarea>
    </div>
</div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Html: </b>
        <br>
        <span class="nor">Formato moderação de usuários com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HModerationU"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Sem Html: </b>
        <br>
        <span class="nor">Formato moderação de usuários sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="ModerationU"></textarea>
    </div>
</div>
