<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar</b>
        <br>
        <span class="nor">Habilitar notificações</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnable" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar sons</b>
        <br>
        <span class="nor">Habilitar avisos sonoros</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnableSound" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Intervalo:</b>
        <br>
        <span class="nor">Intervalo das notificações</span>
    </div>
    <div class="listplrg">
        <input type="text" size="5" name="omNotifyInterval" >
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar Scrapbook</b>
        <br>
        <span class="nor">Habilitar avisos de novos scraps</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnableScrap" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar Amigos</b>
        <br>
        <span class="nor">Habilitar aviso de novos amigos</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnableHome" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar Novos depoimentos</b>
        <br>
        <span class="nor">Habilitar aviso de novos depoimentos</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnableTestemonials" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Habilitar Novos Tópicos</b>
        <br>
        <span class="nor">Habilitar aviso de novas respostas em tópicos marcados</span>
    </div>
    <div class="listplrg">
        <input type="checkbox" name="omNotifyEnableTpcs" >
        <label for="omNotifyEnable">Habilitado</label>
    </div>
</div>