<hr />
<h2>Quote com HTML</h2>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote HTML</b>
        <br>
        <span class="nor">Quote Texto HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteTextHtml"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote HTML</b>
        <br>
        <span class="nor">Quote Prefixo HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HQuoteHeaderB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote HTML</b>
        <br>
        <span class="nor">Quote Sufixo HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HQuoteHeaderE"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote </b>
        <br>
        <span class="nor">Quote Message Prefixo HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HQuoteMessageB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote HTML</b>
        <br>
        <span class="nor">Quote Message Sufixo HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HQuoteMessageE"></textarea>
    </div>
</div>
<hr />
<h2>Quote sem HTML</h2>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote</b>
        <br>
        <span class="nor">Quote Texto</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteText"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote</b>
        <br>
        <span class="nor">Quote Prefixo</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteHeaderB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote</b>
        <br>
        <span class="nor">Quote Sufixo</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteHeaderE"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote</b>
        <br>
        <span class="nor">Quote Message Prefixo</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteMessageB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Quote</b>
        <br>
        <span class="nor">Quote Message Sufixo</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="QuoteMessageE"></textarea>
    </div>
</div>