<div class="listdark">
    <div class="listfllrgblack">
        <b>Assinatura Html</b>
        <br>
        <span class="nor">Assinatura com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HSignature"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Assinatura</b>
        <br>
        <span class="nor">Assinatura sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="Signature"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Assinatura Scrapbook HTML</b>
        <br>
        <span class="nor">Assinatura Scrapbook com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="SHSignature"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Assinatura Scrapbook</b>
        <br>
        <span class="nor">Assinatura Scrapbook sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="SSignature"></textarea>
    </div>
</div>

<div class="listdark">
    <div class="listfllrgblack">
        <b>Posição da assinatura</b>
        <br>
        <span class="nor">Posição em que a assinatura irá aparecer</span>
    </div>
    <div class="listplrg">
        <span style="float: left"><input type="radio" value="3" name="SignaturePosition" />Esquerda</span>
        <span style="float: right"><input type="radio" value="2" name="SignaturePosition" />Direita</span>
        <center><input type="radio" value="1" name="SignaturePosition" />Centro</center>        
    </div>
</div>