<div class="listdark">
    <div class="listfllrgblack">
        <b>Text-Shadow (Nick)</b>
        <br>
        <span class="nor">Text-Shadow/Nick personalizado para comunidades HTML</span>
    </div>
    <div class="listplrg">
        <input type="text" name="NameShadow">
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Texto Prefixo </b>
        <br>
        <span class="nor">Texto Sufixo Sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="ColorB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Texto Sufixo </b>
        <br>
        <span class="nor">Texto Sufixo Sem HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="ColorE"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Texto Prefixo Html</b>
        <br>
        <span class="nor">Texto Prefixo com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HColorB"></textarea>
    </div>
</div>
<div class="listdark">
    <div class="listfllrgblack">
        <b>Texto Sufixo Html</b>
        <br>
        <span class="nor">Texto Sufixo com HTML</span>
    </div>
    <div class="listplrg">
        <textarea cols="50" rows="6" name="HColorE"></textarea>
    </div>
</div>
